*~
*.diff
*.patch
.DS_Store
.project
.settings
.idea
.env
/public/composer.lock
/public/package-lock.json
/public/lib/**/docs/*
/public/lib/**/tests/*
/public/lib/**/example/*
/public/storage/*.*
/public/storage/*/*
/public/config/*
/public/tests/*
/public/node_modules
/public/addons/
!.gitignore
!.gitkeep
!/public/storage/*/index.html
defines.php
/docker-config/server_name
